.favoriteProductList {
  display: flex;
  flex-wrap: wrap;
}

.recentProductList {
  display: flex;
  flex-wrap: wrap;
}

.favoriteProductList > div {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.recentProductList > div {
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}